{% extends 'tests/base.html' %}

{% block content %}
dashboard

<p>
    <form method="post" action="." novalidate>dashboard_form: #{{ dashboard_form }}
        {% csrf_token %}
        <input type="submit">
    </form>
</p>

# ajax urls<br/>
<ul>
{% for name, view in views.items %}
<li>{{name }}: {{ view.get_url }} - </li>
{% endfor %}
</ul>

# rendered views<br/>
<ul>
{% for name, view in views.items %}
<li>{{name }}: {{ view.render }} </li>
{% endfor %}
</ul>

<p># view by id</p>
<p>view1: {{ views.view1.render }}</p>
<p>view2 {{ views.view2.render }}</p>

{% endblock %}